click==7.1.2
-e git+https://github.com/ellatenar/heron-zone.git@27a7f4e99e0e64a967060aa39a41817136f1538b#egg=diaphanous
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg >= 3.0
pymongo==3.12.0
urlparser==0.1.2
Werkzeug==2.0.1
