click==7.1.2
-e git+https://github.com/ellatenar/heron-zone.git@7de59c52851c0fa182bee93aeb69b661f82a3da4#egg=diaphanous
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
urlparser==0.1.2
Werkzeug==2.0.1
