<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTFOUND :,-(</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <span id="nav"><a href="/">←</a></span>
    </nav>
    <div id="main">
        <h2 class="title"><i>404 Not Found!</i></h2>
        <p><span>or perhaps you want a photo of wise cat instead:</span></p>
        <img src="../static/wisecat.JPG"/>
    </div>
</body>
</html>