{% extends "base.jinja" %}
{% block content %}
<p>thank you for submitting your contact info!</p>
<p>you may hear from me occasionally in your inbox about what i'm up to.</p>
<p>with love, ella</p>

{% endblock %}