<footer>
    <p class="info"><span id="footer">☁️&nbsp;&nbsp;site by <a href="https://github.com/ellatenar">ella heron</a>&nbsp;&nbsp;☁️</span></p>
    <div style="display: inline-block; visibility: hidden" id="siteInfo">
        <p class="hidden" style="font-size: 85%; visibility: hidden">Made with Flask and love, September 2021</p>
        <p class="hidden" style="font-size: 85%; visibility: hidden">Font: PT Serif by Alexandra Korolkova, Olga Umpeleva and Vladimir Yefimov.</p>
        <p class="hidden" style="font-size: 85%; visibility: hidden">Background image: Molokhia from Heather's garden</p>
    </div>
</footer>