<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'nav.html' %}
    <div id="main">
        <h2 class="title"><i>hi</i></h2>
        <p>my name's ella heron.</p>
        <p>i live in philadelphia on occupied lenapehoking.</p>
        <p>i'm a fullstack developer, sound artist, educator, and aspiring agrarian.</p>
        <p>i'm from new haven, connecticut, on occupied quinnipiack territory on turtle island.</p>
        <p>i'm passionate about ecology, movies, trees, dancing, fermentation, and global transformational justice.</p>
        <p>i love talking to new ppl. please reach out to me via email by signing up for my mailing list and leaving me a message!</p>
        <img src="../static/img/me.PNG" alt="hai XD" width=200/>
    </div>
    {% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename='script/main.js') }}" defer></script>
</html>