{% extends "base.jinja" %}
{% block content %}
    {% for href, caption in 
        [('/hi', 'about'), ('/sound', 'sound'), ('/land', 'land'), ('/code', 'code'), ('https://linkedin.com/in/ella-heron', 'alienated labor')] %}

        <p><span><a href="{{ href }}">{{ caption }}</a></span></p>
    
    {% endfor %}
{% endblock %}