{% extends "base.jinja" %}
{% block content %}
    <p>i've been tending land since learning about three sisters gardening as a child.</p>
    <p>indigenous land practices have been hugely influential for me and have created a compass for my land stewardship.</p>
    <p>in 2020 I participated in the savanna institute's agroforestry apprenticeship, and got the chance to study agroforestry intensively for the year.</p>
    <p>i spent the growing season at <a href="http://www.lilyspringsfarm.com/">lily springs farm</a>, on occupied anishinaabe and ho-chunk territory, where i learned techniques of regenerative farming and savanna restoration.</p>
    <p>since 2021 i've been a lead orchard volunteer for the philadelphia orchard project, where I help maintain multiple fruit and nut orchards in collaboration with community partners around the city.</p>
    <p>i've installed permaculture-inspired food systems for friends and neighbors, and have a lively home practice of wild fermentation.</p>
    <img class="highlight" src="../static/img/turnip-rock.jpg"/>
{% endblock %}