<form method="POST" enctype="multipart/form-data">
    <input type="text" name="name" id="name">
    <input type="text" name="email" id="email">
    <input type="text" name="message" id="message" placeholder="leave me a message!">
    <br><br>
    <input type="submit">
</form>