@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'PT Serif', serif;
}

body {
    background:#eee 85% url("./img/molokhia.JPG");
}

#main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-around;

}

#main > * + * {
    margin-top: 5vh;
}

p, h2 {
    text-align: center;
}

.title {
    border: 2x;
    padding: 10px;
    background: purple;
    border-radius: 10px;
    display: inline-block;
}

footer {
    margin-top: 5vh;
    text-align: center;
}

p:not(.info, .hidden), span {
    background: purple;
    padding: 10px;
    border-radius: 10px;
}

a {
    color: #e97451;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

#nav {
    position: absolute;
    top: 10;
}

#siteInfo {
    max-width: 33vw;
    padding: 2px 10px;
    background: skyblue;
    border-radius: 10px;
    margin-top: .8em;
    border: 1px solid goldenrod
}

#siteInfo > * + *, form > div + div {
    margin-top: .5vh;
}

@media screen and (min-width: 500px) {
    iframe {
        width: 450px;
    }
}

@media screen and (max-width: 499px) {
    iframe {
        width: 90vw;
        max-height: 90vw;
    }
}

.highlight {
    max-width: 50vw;
    height: auto;
}